
.navbar {
    background-color: #1b365b;
    border: none;
  }

  
  .navbar-inverse .navbar-toggle {
    border-color: #fff;
  }
  .img{
      align-items: center;
      width: 200px;
  }
  .fa{
      padding: 3px;
  }
  
  